*
  box-sizing: border-box

html
  font-family: sans-serif
  font-size: 13px

.container
  width: 100%
  max-width: 1200px

section
  border: 1px solid #eee
  display: block
  margin-bottom: 1rem
  padding: 1rem
  width: 100%

header
  font-weight: bold
  margin-bottom: 1em

button
  background: #eee
  border: 1px solid #555
  border-radius: 3px
  cursor: pointer
  height: 26px
  margin: 0.5em 1em 0.5em 0
  padding: 0.5em 1em 0.6em
  white-space: nowrap

  &:hover
    background: #555
    color: #fff

  &.mod-green
    background: #d0ffd0
  &.mod-red
    background: #ffd9d9

h3, h4
  margin: 1rem

/********************************************************/

.row
  display: flex
  width: 100%
  flex-direction: row

.col
  display: flex
  flex-direction: column
  padding: 0 0.5em

  &:first-child
    padding-left: 0
  &:last-child
    padding-right: 0

  &.is-grow
    flex-grow: 1
    overflow: hidden

.input
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 0.5em

  label
    font-size: 0.9em
    padding: 0 2em 0.3em 0

  input, select
    width: 15rem

  #input-name
    padding-left: 1em

/********************************************************/

.dropzone
  align-items: center
  border: 1px solid #aaa
  display: flex
  height: 100px
  justify-content: center
  padding: 1em
  width: 300px

  &.is-over
    background: #ddd

/********************************************************/

.volumecontrol
  display: flex
  flex-direction: row

.volumecontrol-label

.volumecontrol-input
  margin-right: 1em
  width: 150px

/********************************************************/

.analyser
  border: 1px solid #eee
  display: block
  height: 7rem
  margin-right: 1em
  width: 200px

/********************************************************/

.pan
  display: flex
  flex-direction: row

  input
    margin: 0 0.5rem

/********************************************************/

.controls
  display: flex

  &.is-disabled
    opacity: 0.5
    pointer-events: none

.controls-control
  border: 1px solid #000
  margin-right: 0.5em
  margin-top: 0.5em
  opacity: 0.6
  padding: 0.5em 1em

  &:hover
    cursor: pointer
    opacity: 1

/********************************************************/

/* track list */

.tracks

.tracks-track
  align-items: center
  display: flex
  flex-direction: row
  height: 8rem
  justify-content: flex-start
  padding: 0.5rem 0

.tracks-track-col
  align-items: center
  display: flex
  height: 100%
  margin-right: 0.5em
  position: relative

  &.mod-id
    overflow: hidden
    width: 150px

.tracks-track-col-label
  color: grey
  display: none
  font-size: 0.9rem
  font-weight: bold
  left: 0
  position: absolute
  text-transform: uppercase
  top: -2.5rem

.tracks-track:first-child
  .tracks-track-col-label
    display: block
