* {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  font-size: 13px; }

.container {
  width: 100%;
  max-width: 1200px; }

section {
  border: 1px solid #eeeeee;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%; }

header {
  font-weight: bold;
  margin-bottom: 1em; }

button {
  background: #eeeeee;
  border: 1px solid #555555;
  border-radius: 3px;
  cursor: pointer;
  height: 26px;
  margin: 0.5em 1em 0.5em 0;
  padding: 0.5em 1em 0.6em;
  white-space: nowrap; }
  button:hover {
    background: #555555;
    color: #ffffff; }
  button.mod-green {
    background: #d0ffd0; }
    button.mod-green:hover {
      background: #00d000; }
  button.mod-red {
    background: #ffd9d9; }
    button.mod-red:hover {
      background: #d90000; }

h3, h4 {
  margin: 1rem; }

/********************************************************/
.row {
  display: flex;
  width: 100%;
  flex-direction: row; }

.col {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em; }
  .col:first-child {
    padding-left: 0; }
  .col:last-child {
    padding-right: 0; }
  .col.is-grow {
    flex-grow: 1;
    overflow: hidden; }

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em; }
  .input label {
    align-self: center;
    font-size: 0.9em;
    padding: 0 2em 0.3em 0; }
  .input input, .input select {
    width: 15rem; }
  .input #input-name {
    padding-left: 1em; }

/********************************************************/
.dropzone {
  align-items: center;
  border: 1px solid #aaaaaa;
  display: flex;
  justify-content: center;
  padding: 1em;
  position: relative;
  width: 15rem; }
  .dropzone.is-over {
    background: #eeeeee; }
  .dropzone.disabled {
    visibility: hidden; }

/********************************************************/
.volumecontrol {
  display: flex;
  flex-direction: row; }

.volumecontrol-input {
  margin-right: 1em;
  width: 150px; }

/********************************************************/
.analyser {
  border: 1px solid #eeeeee;
  display: block;
  height: 7rem;
  margin-right: 1em;
  width: 200px; }

/********************************************************/
.pan {
  display: flex;
  flex-direction: row; }
  .pan input {
    margin: 0 0.5rem; }

/********************************************************/
.controls {
  display: flex; }
  .controls.is-disabled {
    opacity: 0.5;
    pointer-events: none; }

.controls-control {
  border: 1px solid #000000;
  margin: 0 0.5em;
  opacity: 0.6;
  padding: 0.5em 1em; }
  .controls-control:hover {
    cursor: pointer;
    opacity: 1; }

/********************************************************/
/* track list */
.tracks-track {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 8rem;
  justify-content: flex-start;
  padding: 0.5rem 0; }

.tracks-track-col {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 0.5em;
  position: relative; }
  .tracks-track-col.mod-id {
    overflow: hidden;
    width: 150px; }

.tracks-track-col-label {
  color: #aaaaaa;
  display: none;
  font-size: 0.9rem;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0; }

.tracks-track:first-child .tracks-track-col-label {
  display: block; }

